// Colors
// Primary
$pink: hsl(322, 100%, 66%);
$lightPink: hsl(321, 100%, 78%);
$lightRed: hsl(0, 100%, 63%);
// Neutral
$veryDarkCyan: hsl(192, 100%, 9%);
$veryPaleBlue: hsl(207, 100%, 98%);

// fonts
$fontFamilyOpenSans: "Open Sans", sans-serif;
$fontFamilyPoppins: "Poppins", sans-serif;

// screen sizes
$mobile: 375px;
$tablet: 768px;
$desktop: 1440px;

// transition
$basic-transition: .3s linear;